@{
    ViewData["Title"] = "IndexView";
    Layout = "~/wwwroot/HTML/_Layout1.cshtml";
}

<body>
    <h2>Index</h2>

    <div>
        <p>Is there anybody out there?</p>
    </div>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.18/angular.min.js"></script>
</body>